/* Global Styles */

body {
    background-color: #e91ebd;
    font-family: "Source Sans 3", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-weight: normal;
}

img {
    display: block;
    width: 100%;
    margin: 0 auto;
}

#container {
    background-color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }

/* Mobile Styles */

@media (min-width: 320px) {
    nav {
        background-color:  #989898;
        padding: 5px;
        margin-top: 10px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
    }

    nav li {
        display: block;
    }

    nav li a {
        display: block;
        height: 30px;
        line-height: 30px;
        background-color: white;
        color: #e91ebd;
        font-size: 22px;
        text-decoration: none;
        margin-top: 5px;

    }

    nav li a:hover {
        background-color: #989898;
    }

    main {
        padding: 20px;
    }

    h1,
    h2, 
    h3 {
        text-align: center;
        color: plum;
        text-shadow: 1px 1px 1px black;
            font-family: "Kalnia Glaze", serif;
            font-weight: 300;
            font-weight: bold;
            font-style: normal;
            font-variation-settings:
              "wdth" 100;
    }

    footer {
        text-align: center;
        padding: 40px;
    }

}

/* Tablet Styles */

@media (min-width: 768px) {
    nav li {
        display: inline-block;
    }

    nav li a {
        width: 140px;
        height: 40px;
        line-height: 40px;
        margin: 4px;
    }

    .movie_post {
        width: 55%;
        border-radius: 10px;
    }

    center {
        margin-left: auto;
        margin-right: auto;
        display: block
        }
}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
        border: 4px solid #989898;
        border-radius: 20px;
    }

    nav {
        padding: 2px;
        margin: 0;
    }

    nav li a {
        background-color: #989898;
    }

    hr {
        display: none;
    }

    #multi_col {
        display: flex;
    }

    .col {
        margin: 20px;
        padding: 20px;
        border: 2px solid black;
    }
    
 #myVideo {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 50%;
        min-height: 50%;
      }
}

